@import '../../styles/main.scss';

.article {
  position: relative;
  padding-top: 150px;
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Montserrat', sans-serif;

  &__img {
    position: absolute;
    top: 0;
    max-height: 245px;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }

  &__container {
    max-width: 1440px;
    padding: 0 75px;
    margin: 0 auto;
  }

  &__wrapper {
    position: relative;
    padding: 35px 75px 50px;
    margin-bottom: 35px;
    background: $colorWhite;
    border: 1px solid #EAEAEA;
    box-shadow: $shadow;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: #363636;
    text-align: center;

    margin-bottom: 50px;
  }

  &__description {
    font-size: 18px;
    color: $colorBlack;
    line-height: 27px;
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    color: #363636;

    margin-left: 75px;
    margin-bottom: 45px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1px;
      background-color: #363636;
    }

    &:hover:before {
      width: 100%;
    }

    &::before {
      transition: width 0.35s;
    }
  }

  &__icon {
    height: 10px;
    width: 12px;
    padding-left: 18px;
    background: url(../../styles/icons/arrow-left.svg) no-repeat;
  }
}